.heading {
  margin-bottom: 40px;
}

.title-add-post {
  font-size: 25px;
  color: #171725;
  margin-bottom: 5px;
}
.desc-title {
  color: #808191;
  font-size: 14px;
}

@media (max-width: 768px) {
  .heading {
    margin-bottom: 20px;
  }
}
