.post-category {
  display: inline-block;
  color: #6b6b6b;
  font-size: 14px;
  border-radius: 8px;
  padding: 4px 12px;
}

.bg-primary {
  background-color: #f3edff;
}
.bg-postcate {
  background-color: white;
}
