.post-item {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ebebeb;
}

.post-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.post-info {
  padding: 0 10px 0 20px;
}

.bg-color-dot {
  background-color: black;
}

.post-title {
  cursor: pointer;
  margin-top: 10px;
}

.style-posttitle {
  margin-top: 10px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  font-size: 14px;
}
.style-h1-title {
  margin-top: 10px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  font-size: 25px;
}

.post-info-style {
  margin-top: 5px;
}
.size-img-small {
  width: 160px;
  height: 110px;
}
