.dashboard-main {
  position: relative;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 300px minmax(0px, 1fr);
  gap: 0 40px;
}
.dashboard-children {
  position: relative;
}
.sidebar {
  width: 300px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(218 213 213 / 15%) 10px 10px 20px;
  border-radius: 12px;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}
.sidebar-mobile {
  display: none;
  position: fixed;
  height: 100%;
  top: 92.8px;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100001;
  padding: 0 20px;
  padding-top: 10px;
  animation: sidebarShow 0.2s ease-in-out;
}
@media (max-width: 1023px) {
  .sidebar {
    display: none;
  }
  .sidebar-mobile {
    display: block;
  }
  .dashboard-main {
    display: block;
  }
}

@keyframes sidebarShow {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
  }
}
