.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 40px;
}
.border-title {
  width: 50px;
  display: inline-block;
  height: 5px;
  background-color: aqua;
}
.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.left {
  max-width: 50%;
  margin-right: 15px;
  border-radius: 15px;
}

.size-img-big {
  width: 100%;
}
.size-img-small {
  width: 160px;
  height: 110px;
}

.style-btn {
  width: 100px;
  height: 30px;
  background-color: #ccc;
  margin: 10px 0;
  font-size: 12px;
  color: black;
}

.title {
  max-width: 600px;
  font-size: 25px;
}

.right {
  width: 50%;
  max-height: 520px;
  background-color: rgb(226, 214, 226);
  margin-left: 15px;
  border-radius: 15px;
  padding: 30px 20px;
  overflow: hidden;
}

.post-item {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #777;
}

.post-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.post-info {
  padding: 0 10px 0 20px;
}

.bg-color-dot {
  background-color: black;
}

.post-title {
  cursor: pointer;
  margin-top: 10px;
}

.style-posttitle {
  margin-top: 10px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  font-size: 14px;
}
.style-h1-title {
  margin-top: 10px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  font-size: 25px;
}

.post-info-style {
  margin-top: 5px;
}

@media (max-width: 768px) {
  .content {
    display: block;
  }
  .left {
    max-width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .right {
    width: 100%;
    margin-left: 0;
    max-height: none;
  }
}
