.actions {
  display: flex;
  gap: 10px;
}

.info-post {
  max-width: 200px;
}

.user {
  color: #6b7280;
  font-size: 16px;
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.email {
  font-size: 16px;
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.post-title,
time {
  white-space: nowrap;
}

time {
  font-size: 13px;
  color: #6b7280;
}

.post-img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
