.actions {
  display: flex;
  gap: 10px;
}

.info-post {
  max-width: 200px;
}

.user {
  color: #6b7280;
  font-size: 16px;
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.email {
  font-size: 16px;
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.post-title,
time {
  white-space: nowrap;
}

time {
  font-size: 13px;
  color: #6b7280;
}

.post-img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.table-mobile {
  display: none;
  max-width: 100%;
  height: auto;
  box-shadow: 0px 0px 4px #ccc;
  margin-bottom: 20px;
  padding: 10px;
}

.user-mobile-top {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #6b7280;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.user-mobile-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin-top: 15px;
}

.user-mobile-middle-img {
  max-width: 150px;
  height: 60px;
}

.user-mobile-middle-title {
  font-weight: 600;
  padding-top: 6px;
}

.user-mobile-bot {
  padding: 20px 0 10px 0;
}

.user-mobile-bot-table {
  width: 100%;
}
.user-mobile-bot-table-tr {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

@media (max-width: 768px) {
  .table-desktop {
    display: none;
  }
  .table-mobile {
    display: block;
  }
}
