.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  border-top: 5px solid #ebebeb;
  padding-bottom: 30px;
  margin-top: 10px;
}

.content-top {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 200px;
}

.category {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.cate-list1 {
  list-style: none;
  font-weight: 700;
}

.cate-list {
  list-style: none;
}

.cate-item {
  margin-bottom: 15px;
  &:hover {
    text-decoration: underline;
  }
}

.info-web {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  border-left: 1px solid #ebebeb;
}

.btn-download {
  display: flex;
  gap: 6px;
  align-items: center;
  outline: none;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 5px;
  margin-top: 5px;

  &:hover {
    background-color: #ebebeb;
  }
}

.btn-download img {
  width: 20px;
  height: 20px;
}

.info-title {
  color: #757575;
  margin-bottom: 7px;
}

.email,
.ads {
  width: 120px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 15px;
}

.email,
.ads,
.vlight {
  color: #232323;
}

.icon {
  color: #757575;
}

.phone {
  width: 140px;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
}

.info-hotline {
  display: flex;
}

.location {
  font-size: 12px;
  color: #757575;
}

.content-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  padding: 10px 0;
  margin-top: 15px;
}

.content-middle-right {
}

.middle-flex {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #757575;
}

.icon-social {
  border-radius: 9999px;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.fb:hover {
  background-color: #0f91f3;
  color: white;
  transition: 0.2s all linear;
}

.twitter:hover {
  background-color: #3da3f1;
  color: white;
  transition: 0.2s all linear;
}
.youtube:hover {
  background-color: #ff0000;
  color: white;
  transition: 0.2s all linear;
}

.content-bot {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  color: #232323;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .info-hotline {
    display: block;
  }
  .content-top {
    gap: 0;
  }
}

@media (max-width: 768px) {
  .content-top {
    display: block;
    gap: 0;
  }
  .category {
    width: 100%;
  }
  .info-web {
    width: 100%;
    padding-left: 0;
    border-left: 0;
  }
  .middle-flex {
    display: block;

    p {
      margin-bottom: 10px;
    }
  }

  .content-bot {
    flex-direction: column;
    gap: 20px;
  }
}
