.heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.btn-create {
  padding: 0 30px;
  height: 60px;
  background-color: rgba(29, 192, 113, 0.1);
  font-size: 16px;
  color: var(--color-primary);
  font-weight: 600;
}

.table-posts {
  overflow-x: auto;
  table {
    width: 100%;
    border-collapse: collapse;
    border-color: inherit;
    text-indent: 0;
  }
  thead {
    background-color: rgb(247, 247, 248);
  }
  th {
    padding: 20px 30px;
    font-weight: 600;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
  }
  td {
    padding: 10px 20px;
  }
}

.post-item {
  display: flex;
  gap: 15px;
  align-items: center;

  img {
    width: 66px;
    height: 55px;
    object-fit: cover;
    border-radius: 4px;
  }
}
.load-more {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.btn-load-more {
  width: 120px;
  height: 40px;
  font-size: 14px;
  background-color: var(--color-primary);
}
.info-pagination {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  margin: 40px 0;
}

@media (min-width: 769px) {
  .table-posts-mobile {
    display: none;
  }
  .table-posts {
    display: block;
  }
}

@media (max-width: 768px) {
  .table-posts {
    display: none;
  }
  .table-posts-mobile {
    display: block;
  }

  .heading {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
