.header {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  span {
    color: #232323;
    font-size: 18px;
    font-weight: 600;
  }
}

.img-logo {
  max-width: 40px;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header-avt {
  width: 52px;
  height: 52px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.btn-new-post {
  padding: 0 30px;
  height: 52px;
  font-size: 16px;
  color: white;
  background-color: var(--color-primary);
}
.header-middle {
  display: none;
}

.btn-new-post-mobile {
  padding: 0 30px;
  height: 52px;
  font-size: 16px;
  color: white;
  background-color: var(--color-primary);
}
.bars-mobile {
  display: none;
}
.bars-icon {
  font-size: 20px;
  color: #808191;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    span,
    .logo {
      display: none;
    }
  }
  .header-middle {
    display: block;
  }

  .btn-new-post {
    display: none;
  }

  .bars-mobile {
    display: block;
  }
}
