.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 40px;
  display: flex;
  gap: 20px;
}

.attention-post {
  width: 70%;
}

.border-title {
  width: 50px;
  display: inline-block;
  height: 5px;
  background-color: aqua;
}

.title {
  font-size: 25px;
}

.advertisement {
  width: 30%;
}
.advertisement img {
  width: 100%;
  padding: 0 25px;
  margin-top: 85px;
}

@media (max-width: 768px) {
  .advertisement {
    display: none;
  }

  .attention-post {
    width: 100%;
  }
}
@media (max-width: 414px) {
}
