.form-sign-up {
  max-width: 600px;
  margin: 0 auto;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  margin-bottom: 25px;

  .label {
    color: rgb(75, 82, 100);
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
  }
}

.have-account {
  display: flex;
  p {
    font-size: 14px;
    margin-bottom: 20px;
    margin-right: 5px;
  }
  a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 500;
    font-size: 14px;
  }
}

// bg-color
.bg-color-primary {
  background-color: var(--color-primary);
}

.bg-color-black {
  background-color: black;
}

.size-btn {
  width: 300px;
  height: 66px;
}

.btn-submit {
  width: 100%;
  text-align: center;
}

.forgot-pass {
  color: var(--color-primary);
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: 500;
}

@media (max-width: 500px) {
  .have-account {
    display: block;
    margin-bottom: 10px;
  }

  .have-account p {
    margin-bottom: 10px;
  }
}
